*{
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

html,body{
    height: 100vh;
    width: 100%;
    background-color:#0F0F0F;
    color: white;
}

.upper-navbar
{
    height: 8vh;
    width: 100%; 
    display: flex;   
}
.upper-navbar img
{
    height: 5vh;
    width: 5vh;
    border-radius: 50%;
    margin-top: 1.5vh;
    
}
.content
{
    display:flex;
}
.ri-menu-line
{
 font-size: 1.3vw;
 font-weight: 400;
 padding: 1vw 1vw 1vw 1.5vw ;
}
.ri-youtube-fill
{
color:#FF0000;  
font-size: 2vw;
height: 3vh;
width: 3vh;
margin: 0.8vw 1vh;
}
.content h4
{
    padding:1.2vw 0;

}
.content p
{
    padding: 1.5vh 0.3vh;
    font-size: 1.5vh;
}
.search
{
    display: flex;
    margin:1vh 1vh 1.5vh 17vw;
    border-radius: 40px;
    background-color:var(--background);
    color:#888888;
    border: 1px solid var(--secoundary);
    overflow: hidden;
}
.search p{
    font-size:2vh;
    padding:1.5vh 1.7vh;
}
.search i{
    font-size:2.5vh;
    margin:0 0 0 30vw;
    padding:1.5vh 2.7vh ;
    color: var(--primary);
    font-weight: lighter;
    background-color: var(--secoundary);
}
.mic 
{
    color: var(--primary);
    background-color: var(--secoundary)   ;
    border-radius: 50%;
    margin:1vh ;
    padding: 0.5vh 1.5vh;
    border: 1px solid var(--secoundary);
}
.create
{
    margin-left: 17vw;
    background-color: transparent;
    color: var(--primary);
    border: none;
    font-size: 3vh;
    padding-right: 1vh;
    font-weight: 400;
}
.notification
{
    background-color: transparent;
    color: var(--primary);
    border: none;
    font-size: 3vh;
    padding-right: 1vh;
    font-weight: 400;
    margin:0 3vh 0 3vh;
}
.page2{
    height:92vh;
    width: 100%;
    /* background-color: blue; */
    display: flex;
    flex-direction:row;

}

.left-mid{
    /* background-color: blueviolet; */
    height: 100%;
    width: 15%;
    overflow-y:auto;
    /* display: none; */


}

.left-mid::-webkit-scrollbar {
    display: none;
}

button{
    display: flex;
    border-radius: 10px;
    margin: 2vh;
    padding: 0.4vw;
    background-color: black;
    border: none;


}

.f1{
    color: white;
    margin-left: 2vw;
    padding-right: 5vw;

}
.f1:hover{
    cursor: pointer;
}

.f1 p{
    color: white;
    padding-left: 1vw;
}


.f2{
    color: white;
    margin-left: 2vw;
    padding-right: 5vw;
}

.f2 p{
    color: white;
    padding-left: 1vw;
}


.f3{
    color: white;
    margin-left: 2vw;
    padding-right: 2.1vw;
}

.f3 p{
    padding-left: 1vw;
}

.f4{
    margin: 1vw 1vw;
    border-bottom: 1px solid gray;
}

.f5{
    color: white;
    margin-left: 2vw;
    font-weight: 600;
}



.f6{
    color: white;
    margin-left: 1.8vw;
    padding-right:2.9vw;
}

.f6 p{
    font-size: 90%;
    color: white;
    padding-left: 1vw;
}



.f7{
    color: white;
    margin-left: 1.8vw;
    padding-right: 4.8vw;
}

.f7 p{
    padding-left: 1vw;
}



.f8{
    color: white;
    margin-left: 1.8vw;
    padding-right:4.2vw;
}

.f8 p{
    padding-left: 1vw;
}



.f9{
    color: white;
    margin-left:1.8vw;
    padding-right: 2.9vw;
}

.f9 p{
    padding-left: 1vw;
}



.f10{
    color: white;
    margin-left:1.8vw;
    padding-right: 2.9vw;
}

.f10 p{
    padding-left: 1vw;
}



.f11{
    color: white;
    margin-left:1.8vw;
    padding-right: 2.5vw;
}

.f11 p{
    padding-left: 1vw;
}

.f12{
    color: white;
    margin-left:1.8vw;
    padding-right: 2.2vw;
}

.f12 p{
    padding-left: 1vw;
}

.f13{
    color: white;
    margin-left:1.8vw;
    padding-right: 3.9vw;
}

.f13 p{
    padding-left: 1vw;
}


.f14{
    color: white;
    margin-left:1.8vw;
    padding-right:3.6vw;
}

.f14 p{
    padding-left: 1vw;
}


.f15{
    color: white;
    margin-left:1.8vw;
    padding-right: 5.6vw;
}

.f15 p{
    padding-left: 1vw;
}
.f16{
    margin-top: 2vh;
    display: flex;
    flex-direction: row;
}

.f16 i{
    margin-left: 2vw;
    font-weight: 900;
    color: white;
}
 
.f16 p{
    margin-left: 1vw;
    font-weight: 700;
    color: white;
}



.f17{
    color: white;
    margin-left:1.8vw;
    padding-right:3.7vw;
}

.f17 p{
    padding-left: 1vw;
}



.f18{
    color: white;
    margin-left:1.8vw;
    padding-right:3.4vw;
}

.f18 p{
    padding-left: 1vw;
}




.f19{
    color: white;
    margin-left:1.8vw;
    padding-right:4.7vw;
}

.f19 p{
    padding-left: 1vw;
}


.f20{
    color: white;
    margin-left:1.8vw;
    padding-right:4.1vw;
}

.f20 p{
    padding-left: 1vw;
}



.f21{
    color: white;
    margin-left:1.8vw;
    padding-right:5.2vw;
}

.f21 p{
    padding-left: 1vw;
}


.f22{
    color: white;
    margin-left:1.8vw;
    padding-right:3.6vw;
}

.f22 p{
    padding-left: 1vw;
}


.f23{
    color: white;
    margin-left:1.8vw;
    padding-right:4.4vw;
}

.f23 p{
    padding-left: 1vw;
}


.f24{
    color: white;
    margin-left:1.8vw;
    padding-right:4vw;
}

.f24 p{
    padding-left: 1vw;
}

.f25{
    color: white;
    margin-left:1.8vw;
    padding-right:3.3vw;
}

.f25 p{
    padding-left: 1vw;
}


.f26{
    color: white;
    margin-left:1.8vw;
    padding-right:0.8vw;
    font-size: 70%;
}

.f26 p{
    padding-left: 1vw;
}


.f27{
    color: white;
    margin-left:1.8vw;
    padding-right:3vw;
}

.f27 p{
    padding-left: 1vw;
}



.f28{
    color: white;
    margin-left:1.8vw;
    padding-right:4vw;
}
.f28 i{
    font-size: 150%;
    margin-top: 1vh;
    color: red;
}

.f28 p{

    padding-left: 1vw;
}


.f29{
    color: white;
    margin-left:1.8vw;
    padding-right:4vw;
}
.f29 i{
    font-size: 150%;
    margin-top: 1vh;
    color: red;
    margin-left: 1vw;
}
.f29 p{
    padding-left: 1vw;
}


.f30{
    color: white;
    margin-left:2vw;
    padding-right:4vw;
}
.f30 i{
    font-size: 150%;
    margin-top: 1vh;
    color: red;
    padding-left: 0.9vw;
}

.f30 p{
    padding-left: 1vw;
}



.f31{
    color: white;
    margin-left:2vw;
    padding-right:4vw;
}
.f31 i{
    font-size: 150%;
    margin-top: 1vh;
    color: red;
    padding-left: 1vw;
}

.f31 p{

    padding-left: 1vw;
}


.f32{
    color: white;
    margin-left:1.9vw;
    padding-right:3.3vw;
}

.f32 p{
    padding-left: 1vw;
}


.f33{
    color: white;
    margin-left:1.9vw;
    padding-right:1.4vw;
}

.f33 p{
    padding-left: 1vw;
    font-size: 95%;
}



.f34{
    color: white;
    margin-left:1.9vw;
    padding-right:4.6vw;
}

.f34 p{
    padding-left: 1vw;
}


.f35{
    color: white;
    margin-left:1.9vw;
    padding-right:1.3vw;
}

.f35 p{
    padding-left: 1vw;
    font-size: 90%;
}


.f36 p{
    color: white;
    font-size: 80%;
    margin-left: 2vw;
}



.mid-mid{
    height:100%;
    width: 5%;
    background-color: yellowgreen;
    display: none;
}


.right-mid{
    background-color: green;
    height:fit-content;
    width: 85%;
    height: 100%;
}


.f37{
    height: 10%;
    width: 100%;
    margin-top: 2vh;
    /* background-color:violet;  */
}


.f37 i{
    margin-left: 1.5vw;
    font-size: 180%;
}

.f37 p{
    margin-left: 1.3vw;
    margin-top: 0.5vh ;
    font-size: 80%;
}


.f38{
    height: 10%;
    width: 100%;
    margin-top: 2vh;
    background-color:violet;
}


.f38 i{
    margin-left: 1.5vw;
    font-size: 180%;
}

.f38 p{
    margin-left: 1.3vw;
    margin-top: 0.5vh ;
    font-size: 80%;
}


.f39{
    height: 10%;
    width: 100%;
    margin-top: 2vh;
    background-color:violet;
}


.f39 i{
    margin-left: 1.5vw;
    font-size: 180%;
}

.f39 p{
    margin-left: 0.3vw;
    margin-top: 0.5vh ;
    font-size: 70%;
}


.hide-sidebar {
    display: none;
}

.show-small-sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}